@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



body {
    min-width: 1250px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 24px;

}

.container {
    width: 1200px;
    margin: 0 auto;
 

}

.todo-list__wrapper {
    background-color: #b36aff;
}

.todo-list__wrapper-top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 2px solid red;*/

}

.title {
    position: absolute;
    top: 0;
    left: 530px;
    display: block;
   /* width: 800px;*/
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 38px;
    line-height: 45px;

      /* border: 2px solid green;*/
    align-self: center;
    color: white;
}


.todo-list__block {
    display: flex;
    position: relative;

    align-items: center;


    width: 800px;
    height: 250px;
   /* border: 2px solid green;*/
}

.todo-list__text {
    position: absolute;
    top: 80px;
    left: 80px;
    display: block;
    box-sizing: border-box;
    width: 600px;
    margin: 20px;
    padding: 20px;
    resize: none;
    border-radius: 20px;
    height: 210px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
}

.todo-list__text:focus {
    outline: none;
}

.todo-list__btn-add {
 
    width: 80px;
    height: 30px;
}

.todo-list__btn {

    width: 80px;
    height: 30px;
}

.todo-list__area {
    display: flex;

    flex-direction: column;
    align-items: center;

    min-height: 500px;
    margin-top: 80px;
    width: 800px;
    border: 2px solid green;
    padding-bottom: 50px;


    
}

.todo-list__nav-list {
    display: flex;
    
    margin: 0;

    padding: 0;

    list-style: none;
}

.todo-list__nav-item {
    box-sizing: border-box;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.todo-list__list-all {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 800px;
    list-style: none;
}

.todo-list__list-all--hidden {
    display: none;
}



.todo-list__elem {
    position: relative;

    width: 600px;

    /*padding: 20px;*/
    margin-bottom: 20px;
    border: 2px solid green;

}


.todo-list__elem--deleted {
    background: red;
}

.todo-list__elem--deleted--hidden {
    display: none;
}


.todo-list__elem-note {
    display: block;
    word-wrap: break-word;
    box-sizing: border-box;
    width: 350px;


    padding: 20px;  
}

.todo-list__elem-note--completed {
    opacity: 0.3;
    text-decoration: line-through;
}


.todo-list__elem-note--edit{
    display: block;
    word-wrap: break-word;
    resize: none;
    border: none;
    box-sizing: border-box;
    width: 350px;


    padding: 20px; 

}

.todo-list__btn-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
}

.todo-list__btn-save {
    position: absolute;
    top: 10px;
    right: 180px;
}

.todo-list__btn-save--hidden {
    display: none;
}

.todo-list__btn-completed {
    position: absolute;
    top: 10px;
    right: 80px;
    width: 70px;
}

.todo-list__btn-edit {
    position: absolute;
    top: 10px;
    right: 180px;
    width: 70px;

}


.todo-list__btn-edit--hidden {
    display: none;
}






.todo-list__btn-clean {
    width: 80px;
     top: 10px;


}





